@import "../utilities/variables";
@import "../utilities/mixins";

@font-face {
  font-family: "Clicker Script";
  src: url("../../static/fonts/ClickerScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rochester Regular";
  src: url("../../static/fonts/Rochester-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mullish Regular";
  src: url("../../static/fonts/Mulish-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: $white;
  text-align: center;
  font-family: $paragraph;
  font-size: $pFontSize;
  overflow-x: hidden;

  h1 {
    font-size: $h1FontSize;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  h2 {
    font-size: $h2FontSize;
    padding-bottom: 2vh;
    margin-top: 10vh;
  }

  h3 {
    font-size: $h3FontSize;
    padding-bottom: 2vh;
  }
}

a {
  text-decoration: none;
  color: $linkColor;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:active {
    color: $linkHover;
  }
}

html {
  height: 200%;
}

p {
  font-family: $paragraph;
  font-size: $pFontSize;
  padding-bottom: 2vh;
}

//home page styles
.backsplash {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  perspective-origin: 0%;
  //overflow-y: scroll;
}

#home {
  padding-top: 10vh;
}

.hello {
  font-size: $helloFontSize;
  font-family: $helloFont;
  font-weight: bolder;
  text-align: center;
  justify-content: center;

  @include paintedBackground();

  @include iPhoneHorizontalTop(padding-top, 0, margin-top, 0);

  @include iPhoneHorizontalFont(font-size, $helloFontSizeHorizontaliPhone);
}

.sarah {
  text-align: center;
  font-family: $paragraph;
  width: 100%;
  padding-bottom: 10vh;
  justify-content: center;
  align-self: center;

  @include textPadding();
}

.down-link {
  margin-top: 10vh;
}

.down {
  margin-left: 0;
  margin-right: 0;
  width: 6vh;
  height: 6vh;
  color: $outlineMagenta;
  align-self: center;
  z-index: 100;
  background: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $outlineHover;
  }

  @include iPhoneHorizontalTop(padding-top, -12vh, margin-top, -12vh);
}

//section styless
.section {
  min-height: 100vh;
  height: 100%;
  padding: 0 5vw;
  margin-bottom: 8vh;
  position: relative;
  background: white;
}

.container {
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  text-align: left;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 8vh;
}

.icons {
  font-size: 5vh;
}
