@import "../utilities/variables";
@import "../utilities/mixins";

.header {
  color: $headerAbout;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  padding-left: 2vw;
  padding-right: 2vw;

  justify-content: space-evenly;

  .text {
    margin-left: 2vw;
    margin-right: 2vw;
    max-width: 800px;
    p {
      text-align: left;
    }
  }
  .photo {
    max-width: 800px;
    max-height: 70vh;
    margin-bottom: 6vh;
    margin-right: 2vw;
    border-radius: 7px;
    border: 2px solid $headerAbout;
  }
}
