@import "../utilities/variables";
@import "../utilities/mixins";

//hamburger menu styles

.header {
  color: $headerArticles;
}

.preview {
  position: relative;

  flex: 1 1 400px;
  height: 30vh;
  min-height: 250px;
  max-height: 700px;
  max-width: 500px;
  border: 1px solid $headerArticles;
  border-radius: 7px;
  margin-left: 4vw;
  padding: 2vmax;
  cursor: pointer;
  overflow: hidden;

  h2,
  h3 {
    color: $headerArticles;
  }

  &:hover::before {
    content: "Read article";
    color: #fff;
    position: absolute;
    z-index: 300;
    text-align: center;
    height: 50%;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, 70%);
  }

  &:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    flex: 1 1 400px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    border: 1px solid $outlineMagenta;
    background: $outlineMagenta;
    border-radius: 7px;
    content: "";
    color: #fff;
    text-align: center;
    align-items: center;
  }

  p {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 1.7;
    padding-bottom: 2vh;
  }
}

.all {
  a {
    font-size: 0.8rem;
  }
}
