@import "../utilities/variables";
@import "../utilities/mixins";

.header {
  color: $headerContact;
}

form {
  margin-bottom: 6vh;
}

fieldset {
  border: none;
  margin-bottom: 5vh;
  max-width: 800px;
  margin: 0 auto;
}

label {
  display: none;
}

input {
  text-align: left;
  padding: 7px;
  border-radius: 7px;
  border: 2px solid $headerContact;

  &:focus {
    border-radius: 7px;
    border: 2px solid $headerContactHover;
    outline: none;
  }
}

.short {
  width: 40%;
  margin: 2%;
}

.long {
  width: 84%;
  margin: 2%;
}

textarea {
  margin: 2%;
  padding: 7px;
  border: 2px solid $headerContact;

  width: 84%;
  height: 250px;
  border-radius: 7px;
  overflow-x: hidden;
  overflow-y: visible;
  text-align: left;
  resize: vertical;

  &:focus {
    border-radius: 7px;
    border: 2px solid $headerContactHover;
    outline: none;
  }
}

.formButton {
  background: $headerContact;
  color: $white;
  border-radius: 7px;
  padding: 5px 20px;
  border-style: solid;
  border: $headerContact;
  cursor: pointer;

  &:hover,
  &:active {
    background: $headerContactHover;
  }
}

.social {
  padding-left: 2vw;
  padding-right: 2vw;
}

.icon {
  font-size: 5vh;

  &:hover,
  &:active {
    filter: brightness(1.3);
    transform: scale(1.25);
  }
}
