@import "../utilities/variables";
@import "../utilities/mixins";

.parallaxContainer {
  position: relative;
  width: 50vw;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}

.foreground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
}

.backgroundFill {
  width: 100vw;
  height: 100vh;
  background: $outlineMagenta;
}

.background {
  margin-top: auto;
  margin-bottom: 50px;
  transform-origin: 0;
  transform: translateZ(5px) scale(0.625);
}

.foreground h1 {
  font-size: 36px;
}
