@import "../utilities/variables";
@import "../utilities/mixins";

//animations
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-end;
  top: 0;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 0.5vh;
  z-index: 1000;
  background: white;
  border-bottom: 2px solid $outlineMagenta;
  box-shadow: 0px 1px 4px rgba(122, 11, 93, 0.8);
  -webkit-animation: slide-in-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .logo {
    display: flex;
    flex-grow: 1;
    padding-bottom: 2vh;
    align-self: center;

    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.5s;

    a {
      text-decoration: none;
      overflow: visible;
    }
  }

  .shook {
    left: 0;
    z-index: 1100;
    height: 5vmin;
    min-height: 4vh;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: -2vh;
    margin-left: 2vw;
    cursor: pointer;
  }

  .menuItems {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.75s;
  }

  .menuItems > * {
    height: 7vmax;
    width: 7vmax;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 100;
    text-decoration: none;
    font-weight: bold;
    background: white;
    font-size: $navFontSize;
    align-items: flex-end;

    &:visited {
      text-decoration: none;
    }
  }

  .home {
    color: $headerHome;
    &:visited {
      color: $headerHome;
    }
    &:hover,
    &:focus {
      color: $headerHomeHover;
    }
  }

  .about {
    color: $headerAbout;
    &:visited {
      color: $headerAbout;
    }
    &:hover,
    &:focus {
      color: $headerAboutHover;
    }
  }

  .articles {
    color: $headerArticles;
    &:visited {
      color: $headerArticles;
    }
    &:hover,
    &:focus {
      color: $headerArticlesHover;
    }
  }

  .work {
    color: $headerWork;
    &:visited {
      color: $headerWork;
    }
    &:hover,
    &:focus {
      color: $headerWorkHover;
    }
  }

  .contact {
    color: $headerContact;
    &:visited {
      color: $headerContact;
    }
    &:hover,
    &:focus {
      color: $headerContactHover;
    }
  }
}

//mobile nav style
.hamburger {
  display: flex;
  flex-direction: column;
  padding-right: 2vw;
  margin-top: 0;
  padding-bottom: 1vh;
  cursor: pointer;

  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s;

  &:hover .bar,
  &:active .bar {
    background: $outlineHover;
  }

  &:hover {
    transition: 1s;
    right: 0;
  }

  .bar {
    width: 35px;
    height: 4px;
    background: $outlineMagenta;
    z-index: 1000;
    margin: 2px;
    border-radius: 7px;
    border: 1px solid $outlineMagenta;
  }
}

.backdrop {
  position: relative;
  z-index: 2500;
  width: 100vw;
  height: 200vh;
  display: none;

  &:after {
    content: "";
    opacity: 0.7;
    background: $splashBackground;
    left: 0;
    margin-top: -5vh;
    width: 100vw;
    height: 200vh;
    background-size: cover;
    position: fixed;
    align-self: center;
    overflow: visible;
    -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

.menu {
  border: 2px solid $outlineMagenta;
  border-radius: 7px;
  width: 70vmin;
  height: 60vh;
  position: fixed;
  margin: 10vh auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3000;
  align-self: center;
  overflow: hidden;
  transform: translateY(10%);
  display: none;
  opacity: 1;
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;

  &::before {
    content: "";
    opacity: 1;
  }
}

.x {
  position: absolute;
  right: 0;
  margin-right: 18px;
  font-size: $h1FontSize;
  color: $outlineMagenta;
  cursor: pointer;
}

.hamburgerNav {
  display: flex;
  height: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    margin: 3vh auto;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}
