@import "../utilities/variables";
@import "../utilities/mixins";

.container {
  height: 100%;
  align-content: flex-start;
}

.cardContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  @media screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.iconCard {
  display: grid;
  text-align: center;
  align-content: center;
  flex-direction: column;
  margin: 2vh 2.5vw;
  height: 100%;
  justify-items: center;

  .header {
    margin-top: 2vh;
    text-align: center;
    color: $headerWork;
    justify-items: center;
  }

  .iconList {
    display: grid;
    align-content: start;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 250px;
    max-width: 300px;
    padding-bottom: 2vh;

    .iconSpan {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      left: 0;
      right: 0;
      padding-bottom: 2vh;

      .iconText {
        text-align: center;
        display: none;
        font-size: 0.7rem;
      }

      &:hover .iconText,
      &:active .iconText {
        display: inline-block;
      }

      .icon {
        font-size: 5vh;
        margin: 1vh 2vw;
        margin-bottom: 2vh;
        padding: auto 1.5vw;

        &:hover,
        &:active {
          filter: brightness(1.3);
          transform: scale(1.25);
        }
      }
    }
  }
}
