@import "../utilities/variables";
@import "../utilities/mixins";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.iconCard {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 3vh;

  .iconTitle {
    text-align: center;
  }

  .iconList {
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
  }
}

.icon {
  font-size: 5vh;
  margin: 0 1vw;
  margin-bottom: 1vh;
}
