@import "../utilities/variables";
@import "../utilities/mixins";

//hamburger menu styles

.container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  .hamburger {
    height: 7vmax;
    width: 7vmax;
    padding-right: 2.5vw;
    z-index: 100;
    color: $brightCoral;

    &:hover,
    &:focus {
      color: $coralHover;
    }
  }
}

/*
  .hamburger-menu {
    background: rgba(11, 93, 114, 0.5);
    z-index: 1000;
    width: 100vw;
    height: 100vh;
  }
  */
